body {
    background-color: powderblue;
}
h1 {
    color: blue;
 // font-family: verdana;
 // font-size: 300%;
}
p {
    color: red;
    border: 1px solid black;
    margin: 20px;
}

#p01 { //item com este ID=p01
	//exemplo: <p id="p01">I am different</p>;
    color: black;
}


//classe

p.nome { //chamada <p class="nome"></p>
	color: red;


}