body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #eee;

}
.aaa{ /*BOTAO DENTRO DA NAVBAR*/
  background-color: #FFF;
  margin-top: 10px;
  margin-left: 16px;
  border-color: #000;
  border-style: none;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[id="firstField"] {
  margin-top: 10px;
  margin-bottom: -1px;
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="midleField"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[id="lastField"] {
  margin-bottom: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5;
  border-bottom-left-radius: 5;
}


.fine{ /*footer style*/
  font-style: italic;
  color: white;
}





